astrocalc>=0.4.2
astropy>=6.1.0
bokeh==3.6.1
Django<5.1
django-filter>=24.2
django-geoip2-extras>=4.1
django-stubs[compatible-mypy]>=5.0.0
djangorestframework>=3.15.1
djangorestframework-stubs>=3.15.0
fundamentals>=2.6.4
julian>=0.14
Markdown>=3.6
matplotlib>=3.8.4
#mod-wsgi-standalone>=4.7.1  # for GitHub Actions or macOS
#mod-wsgi-httpd>=2.4.54.1  # for atlspsweb
mysqlclient>=2.2.4
pandas>=2.2.2
polars>=1.2.1
pycountry>=23.12.11
pylint>=3.2.6
pylint-django>=2.5.5
python-dotenv>=1.0.1
ruff>=0.5.3
types-PyYAML>=6.0.12.20240311
types-requests>=2.31.0.20240406
