astrocalc>=0.4.1
astropy>=5.3
black>=23.7
bokeh==3.2.1
Django>=4.1.10, <5.1
django-filter>=23.2
django-geoip2-extras==3.0
django-stubs[compatible-mypy]>=4.2
djangorestframework>=3.14
djangorestframework-stubs>=3.14.2
flake8>=6.0.0
fundamentals>=2.4
julian>=0.14
Markdown>=3.2.2
matplotlib>=3.7.2
# mod-wsgi>=4.9.3  # for atlspsweb or macOS + apache
# mod-wsgi-standalone>=4.7.1  # for GitHub Actions
#mod-wsgi-httpd>=2.4.54.1  # for atlspsweb
multiprocess>=0.70.15
mysqlclient>=2.1
pandas>=2.0.3
pycountry>=22.3.5
pylint>=2.17
pylint-django>=2.5.3
python-dotenv>=1.0
types-PyYAML>=6.0.12
types-requests>=2.31
