{% extends "rest_framework/base.html" %}

{% block content %}
<div class="content-main" role="main" aria-label="main content">
    <div class="page-header">
        <h1>{{ name }}</h1>
    </div>
    <p>There {%if queuedtaskcount != 1 %}are {{ queuedtaskcount }} unfinished tasks{% else %}is {{ queuedtaskcount }} unfinished task{% endif %} in the queue with the most recent completion at {{ lastfinishtime }} (as of {% now "H:i:s" %}).</p>
    <div id="statsusagechart">Loading usage chart...</div>
    <div id="statsshortterm">Loading short term stats...</div>
    <div id="statslongterm">Loading long term stats...</div>
    <div style="clear: both">&nbsp;</div>
    <div id="statscoordchart" style="max-width: 60em;">Loading recent coordinate chart...</div>
</div>
{% endblock %}



{% block script %}
  {{ block.super }}
  <script language="javascript" type="text/javascript">
    $.ajax({
        url: "{% url 'statsshortterm'|escapejs %}",
        success: function(result){
          $('#statsshortterm').html(result);
    }});

    $.ajax({
      url: "{% url 'statslongterm'|escapejs %}",
      success: function(result){
        $('#statslongterm').html(result);
    }});

    $.ajax({
        url: "{% url 'statsusagechart'|escapejs %}",
        success: function(result){
          $('#statsusagechart').html(result.div);
          $("head").append(result.script);
    }});

    $.ajax({
        url: "{% url 'statscoordchart'|escapejs %}",
        success: function(result){
          $('#statscoordchart').html(result.div);
          $("head").append(result.script);
    }});
  </script>
{% endblock %}