{% extends "rest_framework/base.html" %}

{% block content %}
<div class="content-main" role="main" aria-label="main content">
    <div class="page-header">
        <h1>{{ name }}</h1>
    </div>

    <ul>
        <li>{{ sevendaytasks }} tasks in the last 7 days ({{ sevendaytaskrate }})</li>
        <li>{{ thirtydaytasks }} tasks in the last 30 days ({{ thirtydaytaskrate }})</li>
        <li>Average queue waiting time: {{ avgwaittime }}</li>
        <li>Average task running time: {{ avgruntime }}</li>
    </ul>
    {{ htmlchart | safe }}
</div>
{% endblock %}