{% extends "rest_framework/base.html" %}

{% block content %}
<div class="content-main" role="main" aria-label="main content">
    <div class="page-header">
        <h1>{{ name }}</h1>
    </div>
    <p>There are {{ queuedtaskcount }} unfinished tasks in the queue with the most recent completion at {{ lastfinishtime }} (as of {% now "H:i:s" %} UTC).</p>
    In the last seven days there were {{ sevendaytasks }} tasks ({{ sevendaytaskrate }}) from {{ sevendayusers }} users. In this period:
    <ul style="padding-left: 2em">
        <li>Load factor (arrival rate / completion rate): {{ sevendayloadpercent }}</li>
        <li>Average queue waiting time: {{ sevendayavgwaittime }}</li>
        <li>Average task running time: {{ sevendayavgruntime }}</li>
    </ul>

    <p>In the last 30 days, there were {{ thirtydaytasks }} tasks ({{ thirtydaytaskrate }}) from {{ thirtyddayusers }} users. The most active regions are:</p>
    <div>
        <div style="float: left; width: 30em;">
            <table class="countrystats">
                <tr><th scope="col">Country</th><th scope="col">Tasks</th><th scope="col">Users</th></tr>
            {% for row in countrylist %}
              <tr><th scope="row">{{ row.0 }}</th><td>{{ row.1 }}</td><td>{{ row.2 }}</td></tr>
            {% endfor %}
            </table>
        </div>
        <div>
            <table class="countrystats">
                <tr><th scope="col">Region</th><th scope="col">Tasks</th></tr>
            {% for row in regionlist %}
              <tr><th scope="row">{{ row.0 }}</th><td>{{ row.1 }}</td></tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <div style="clear: both">&nbsp</div>
    {{ htmlchart | safe }}
</div>
{% endblock %}