{% load static %}{% load i18n %}
{% for task in tasks %}
    {% if task.finishtimestamp %}
        <li class="task finished" id="task-{{task.id}}">
        <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>
    {% else %}
    <li class="task queued" id="task-{{task.id}}">
        <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Cancel</a>
    {% endif %}
        <a href="{% url 'task-detail' task.id %}">Task {{task.id}}</a><br/>
        {% if task.user.id != request.user.id %}
        User: {{task.user.username}} ({{task.user.email}})<br/>
        {% endif %}
        {% if task.comment %}
        Comment: <b>{{task.comment}}</b><br/>
        {% endif %}
        RA Dec: {{task.ra}} {{task.dec}}<br/>
        Images: {%if task.use_reduced %}Reduced{% else %}Difference{% endif %}<br/>

        {% if task.mjd_min or task.mjd_max %}
            MJD range: [{{task.mjd_min|default:"0"}}, {{task.mjd_max|default:"∞"}}]<br/>
        {% endif %}

        Queued at {{task.timestamp|date:'Y-m-d H:i:s e'}}<br/>
        {% if task.finishtimestamp %}
        Finished{% if task.finishtimestamp %} at {{task.finishtimestamp|date:'Y-m-d H:i:s e'}}{% endif %}<br/>
        <a class="results btn btn-info" href="{% static task.get_localresultfile %}">Get Data</a>
        <a class="results btn btn-info" onclick="javascript:$.getScript('{% url 'resultdatajs' task.id %}'); this.style='display: none;'">Show Plot</a>
        <div id="plotforcedflux-task-{{task.id}}" style="width: 100%;"></div>

        {% else %}
        Queued ({{task.get_queuepos}} tasks ahead of this one)
        {% endif %}
    </li>
{% endfor %}
