{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}
{% load forcedphottags %}

{% block content %}
<div class="content-main" role="main" aria-label="main content">

    <div class="page-header">
    <h1>{{name}}</h1>
    </div>

    {% if not singletaskdetail %}
    {% filterbuttons request %}
    <div class="newrequest">
        <div class="task">
        <h2>New request</h2>
        <form method="POST" action="{% url 'task-list' %}" id="newrequest">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <ul>
                <li>{{ form.radeclist.label_tag }}
                {{ form.radeclist }}
                <a class="collapsible" data-toggle="collapse" data-target="#radec_help">Help</a>
                <div id="radec_help" style="display: none; clear: right; font-size: small;">Each line should consist of a right ascension and a declination coordinate (J2000) in decimal or sexagesimal notation (RA/DEC separated by a space or a comma) or 'mpc ' and a Minor Planet Center object name (e.g. 'mpc Makemake'). Limit of 100 objects per submission. If requested, email notification will be sent only after all targets in the list have been processed.</div>
                {{ form.radeclist.errors }}
                </li>
            </ul>
            <div id="propermotion_checkboxdiv" style="width: 100%">
                <label data-target="#propermotion_panel" style="width: 100%;">
                    <input type="checkbox" name="proper_motion_on" onclick="updatepropermotionpanel()" style="position: static; display: inline; width: 5em" /> Proper motion
                </label>
            </div>
            <div id="propermotion_panel" class="panel-collapse collapse" style="background: rgb(235,235,235);">
                <p style="font-size: small;">If the star is moving, the J2000 coordinates above are correct for a specified epoch along with proper motions in RA (angle) and Dec in milliarcseconds. The epoch of ATLAS observations varies from 2015.5 to the present. Note: these are angular velocities, not rates of coordinate change.</p>
                <ul>
                <li>{{ form.radec_epoch_year.label_tag }}{{ form.radec_epoch_year }}{{ form.radec_epoch_year.errors }}</li>
                <li><label for="id_propermotion_ra">PM RA [mas/yr]</label>{{ form.propermotion_ra }}{{ form.propermotion_ra.errors }}</li>
                <li><label for="id_propermotion_dec">PM Dec [mas/yr]</label>{{ form.propermotion_dec }}{{ form.propermotion_dec.errors }}</li>
                </ul>
            </div>
            <ul>
                <li>{{ form.mjd_min.label_tag }}{{ form.mjd_min }}{{ form.mjd_min.errors }}</li>
                <li>{{ form.mjd_max.label_tag }}{{ form.mjd_max }}{{ form.mjd_max.errors }}</li>
                <li>{{ form.comment.label_tag }}{{ form.comment }}{{ form.comment.errors }}</li>
                <li>{{ form.use_reduced }}<label for="id_use_reduced">Use reduced instead of difference images</label></li>
                <li>{{ form.send_email }}<label for="id_send_email">Email me when completed</label></li>
            </ul>
            <input class="btn btn-info" type="submit" value="Request" />
        </form>
        </div>
    </div>
    {% endif %}

    {% include 'tasklist-frame.html' %}
</div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/plotly-latest.kws.js' %}"></script>

    <script language="javascript" type="text/javascript">

    $("#propermotion_checkboxdiv :checkbox").bind('click dblclick', function(evt) {
        // console.log(evt.type);
        updatepropermotionpanel();
    })

    function updatepropermotionpanel() {
        if ($("#propermotion_checkboxdiv :checkbox").is(":checked")) {
            // console.log('checked')
            $('#propermotion_panel').slideDown('fast');
        } else {
            // console.log('not checked')
            $('#propermotion_panel').slideUp('fast');
        }
    }

    var jslcdataglobal = new Object();
    var jslabelsglobal = new Object();
    var jslimitsglobal = new Object();

    var activated_plots = [];

    // Set the name of the hidden property and the change event for visibility
    var hidden, visibilityChange;
    if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support
      hidden = "hidden";
      visibilityChange = "visibilitychange";
    } else if (typeof document.msHidden !== "undefined") {
      hidden = "msHidden";
      visibilityChange = "msvisibilitychange";
    } else if (typeof document.webkitHidden !== "undefined") {
      hidden = "webkitHidden";
      visibilityChange = "webkitvisibilitychange";
    }

    var updateInterval = 950;
    var updatequeuedtimer = setInterval(updatePageTasks, updateInterval);

    function handleVisibilityChange() {
      clearInterval(updatequeuedtimer);
      if (document[hidden]) {
        updatequeuedtimer = null;
      } else {
        updatequeuedtimer = setInterval(updatePageTasks, updateInterval);
        updatePageTasks();
      }
    }

    // Warn if the browser doesn't support addEventListener or the Page Visibility API
    if (typeof document.addEventListener === "undefined" || hidden === undefined) {
      console.log("This demo requires a browser, such as Google Chrome or Firefox, that supports the Page Visibility API.");
    } else {
      // Handle page visibility change
      document.addEventListener(visibilityChange, handleVisibilityChange, false);
    }

    // window may be visible onscreen but not focused - reduce the update rate in this case
    $(window).blur(function() {
      clearInterval(updatequeuedtimer);
      updatequeuedtimer = setInterval(updatePageTasks, 2 * updateInterval);
      window_focused = false;
    });

    $(window).focus(function() {
      clearInterval(updatequeuedtimer);
      updatequeuedtimer = setInterval(updatePageTasks, updateInterval);
      updatePageTasks();
    });


    function updatePageTasks() {
        updatepropermotionpanel();

        $.get({url: '{{ request.get_full_path|addtaskboxqueryparam|escapejs }}',
        statusCode: {
            404: function(responseObject, textStatus, jqXHR) {
                // No content found (404)
                window.location.href = '{% url 'task-list' %}';
            }
        }})
        .done(function(data, status) {
            if (status == 'success') {
                console.log('Updating page tasks...')
                newhtml = jQuery(data);

                // remove any tasks from the page that are missing from the new data
                $('li.task').each(function () {
                    taskid = $(this).attr('id').replace("task-", "");
                    if (newhtml.find('#task-' + taskid).length == 0) {
                        console.log('task ' + taskid + ' is deleted from page');

                        // instant removal
                        // $('#task-' + taskid).replaceWith('');

                        // animated removal
                        // $('#task-' + taskid).fadeOut(300, function(){ $(this).remove();});
                        $('#task-' + taskid).hide(300, function(){ $(this).remove(); })
                    }
                });

                // newhtml now contains superset of the displayed tasks
                // walk through the new items, inserting, replacing, or skipping as needed
                prev_li_id = '-1'
                newhtml.find('li.task').each(function () {
                    taskid = $(this).attr('id').replace("task-", "");
                    li_id = $(this).attr('id');

                    if ($('#' + li_id).length == 1) {
                        newclasses = newhtml.find('#' + li_id).get(0).getAttribute('class');
                        oldclasses = $('#' + li_id).get(0).getAttribute('class');

                        newcontent = newhtml.find('#' + li_id).find('.updatable').get(0).outerHTML;
                        oldcontent = $('#' + li_id + ' div.updatable').get(0).outerHTML;

                        if (newclasses != oldclasses || newcontent != oldcontent) {
                            console.log('Updated applied to task ' + taskid);

                            // update the classes on the task list item
                            $('#' + li_id).attr('class', newclasses);

                            // update the contents of the task (apart from the plot)
                            $('#' + li_id + ' div.updatable').replaceWith(newcontent);

                            pagetaskhasplotdiv = $('#' + li_id).find('div.plot').length == 1;
                            servertaskhasplotdiv = newhtml.find('#' + li_id).find('div.plot').length == 1;

                            if (!pagetaskhasplotdiv && servertaskhasplotdiv) {
                                $('#' + li_id + ' div.updatable').after(newhtml.find('#' + li_id).find('div.plot').get(0).outerHTML);
                                console.log('Adding plot to ', taskid);
                            }
                        } else {
                            // console.log('task ' + taskid + ' is already on the page. No change detected.');
                        }

                    } else {
                        servertaskhtml = newhtml.find('#' + li_id).get(0).outerHTML
                        if (prev_li_id == '-1') {
                            console.log('task ' + taskid + ' is not on the page. Adding to top');
                            $('li.task:first-child').before(servertaskhtml);
                        } else {
                            console.log('task ' + taskid + ' is not on the page. Adding after ' + prev_li_id);
                            $('#' + prev_li_id).after(servertaskhtml);
                        }
                        $('#' + li_id).hide();
                        $('#' + li_id).show(700);
                    }
                    prev_li_id = li_id
                });

                if (newhtml.find('#paginator').length > 0) {
                    $('#paginator').replaceWith(newhtml.find('#paginator').get(0).outerHTML);
                }
            }
        });

        activate_plots();
    }

    function activate_plots() {
        $('li.task.finished').each(function () {
            // check that the plot has not already been created
            if ($(this).find('div.plot').length > 0 && $(this).find('div.plot').html() == '') {
                taskid = $(this).attr('id').replace("task-", "");
                if (activated_plots.includes(taskid)) {
                    console.log('plot ', taskid, ' already activating')
                } else {
                    console.log('activating plot ', taskid)
                    jsurl = '{% url 'resultplotdatajs' 9999 %}'.replace('9999', taskid);
                    $.ajax({url: jsurl, cache: true, dataType: 'script'});
                    activated_plots.push(taskid)
                }
            }
        });
    }

    $.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results==null) {
           return null;
        }
        return decodeURI(results[1]) || 0;
    }

    updatepropermotionpanel();
    var newids = $.urlParam('newids');
    if (newids != null) {
        newids.split('%2C').forEach(function(taskid) {
            console.log(taskid)
            li_id = '#task-' + taskid
            $(li_id).hide();
            $(li_id).show(700);
            // remove the newids GET parameter from the URL box
            window.history.replaceState({}, document.title, '{{ request.get_full_path|removetaskboxqueryparam }}' );
        });
    }

    $( document ).ready(function() {
        activate_plots();
    });
    </script>
{% endblock %}
