{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{% block head %}
    {{ block.super }}

    <!-- force refresh every 2 hours in case the javascript code needs an update -->
    <meta http-equiv="refresh" content="7200" />

    <script language="javascript" type="text/javascript">
        "use strict";
        var api_url_obj = new URL(window.location.href);
        api_url_obj.searchParams.set('format', 'json');
        api_url_obj.searchParams.delete('newids');
        const api_url = api_url_obj.toString();
        const api_url_base = '{{api_url_base|escapejs}}';

        // prefetch the api request at start of page load
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", api_url, true);
        xmlhttp.setRequestHeader('Accept', 'application/json')
        xmlhttp.setRequestHeader('Content-Type', 'application/json')
        xmlhttp.setRequestHeader('Cache-Control', '')
        xmlhttp.setRequestHeader('Pragma', '')
        xmlhttp.send();

        const user_id = {%if request.user.id %}{{ request.user.id|escapejs }}{% else %}-1{% endif %};
        var user_is_active = true;

        var lcplotheight = 300, markersize = 15, errorbarsize = 4, arrowsize = 7;
    </script>
{% endblock %}

{% block content %}
<div class="content-main" role="main" aria-label="main content">

    <div id="taskpage"><p>Loading task list...</p></div>
</div>
{% endblock %}

{% block script %}
    {{ block.super }}

    <!-- <script src="{% static 'js/plotly-v1.58.4.kws.js' %}"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.58.4/plotly-basic.min.js" integrity="sha512-7S1p+6A2VVIWu+EevZqeqXWos1Tn+mroZxpkZ9THWipecJkL7TLg2myv5cIAShu9j3+fjHyCvEh/d7BKegMY1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/2.1.0/plotly-basic.min.js" integrity="sha512-zXKq4GIZaBx/gGnmJnbXivo3sXo+caMy2HGhhwna3iKvbzsTGRbHZoJJq+xQsIRizeoMZ9jDFiHegiusa8yNdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script language="javascript" type="text/javascript">
    "use strict";

    function mjdFromDate(dateObj) { // Decimal days
        const jd = dateObj / 86400000 + 2440587.5;
        const mjd = jd - 2400000.5;
        return mjd;
    }

    function mjdUTC(Y, M, D, H, m, s, ms) { // M is Jan = 0, Feb = 1, etc.
        // Add local hour offset to `H` or minute offset to `m` for local time
        const jd = Date.UTC.apply(Date, arguments) / 86400000 + 2440587.5;
        const mjd = jd - 2400000.5;
        return mjd;
    }

    function dateFromMJD(mjd) { // Any time of day to nearest millisecond
        const jd = mjd + 2400000.5;
        var obj = new Date();

        obj.setTime(Math.round((jd - 2440587.5) * 86400000));

        return obj;
    }

    // Set the name of the hidden property and the change event for visibility
    var hidden, visibilityChange;
    if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support
      hidden = "hidden";
      visibilityChange = "visibilitychange";
    } else if (typeof document.msHidden !== "undefined") {
      hidden = "msHidden";
      visibilityChange = "msvisibilitychange";
    } else if (typeof document.webkitHidden !== "undefined") {
      hidden = "webkitHidden";
      visibilityChange = "webkitvisibilitychange";
    }

    // Warn if the browser doesn't support addEventListener or the Page Visibility API
    if (typeof document.addEventListener === "undefined" || hidden === undefined) {
      console.log("This demo requires a browser, such as Google Chrome or Firefox, that supports the Page Visibility API.");
    } else {
      // Handle page visibility change
      // document.addEventListener(visibilityChange, handleVisibilityChange, false);
    }

    // function handleVisibilityChange() {
    //   if (!document[hidden]) {
    //   }
    // }

    function inactivityTimer() {
      var active_timeout = null;
      window.onload = setActive;
      // DOM Events
      document.addEventListener('mousemove', setActive, true);
      document.addEventListener('mousedown', setActive, true);
      document.addEventListener('touchmove', setActive, true);
      document.addEventListener('touchdown', setActive, true);
      setActive();

      function setActive() {
        if (!user_is_active) {
          console.log('User became active');
        }
        user_is_active = true;
        clearTimeout(active_timeout);
        active_timeout = setTimeout(setInactive, 2 * 60 * 1000)  // inactive after two minutes
      }

      function setInactive() {
        user_is_active = false;
        console.log('User became inactive');
      }
    };

    var newids = [];
    var newtaskids = [];

    $(document).ready(function() {
      var current_url_nonewids = new URL(window.location.href);
      newids = current_url_nonewids.searchParams.get('newids')
      current_url_nonewids.searchParams.delete('newids');
      newtaskids = [];
      if (newids != null) {
          newids.split('%2C').forEach(function(taskid) {
            newtaskids.push(parseInt(taskid));
          });

          // console.log('new task', taskid)
          // li_id = '#task-' + taskid
          // newtaskids.push(parseInt(taskid));
          // $(li_id).hide();
          // $(li_id).show(700);
          // remove the newids GET parameter from the URL box
          console.log('newids parameter found');
          window.history.replaceState({}, document.title, current_url_nonewids.toString() );
      }

      inactivityTimer();
    });
    </script>

    {% if debug %}
      <!-- development -->
      <script src="https://unpkg.com/@babel/standalone/babel.min.js" crossorigin></script>
      <script src="https://unpkg.com/react/umd/react.development.js" crossorigin></script>
      <script src="https://unpkg.com/react-dom/umd/react-dom.development.js" crossorigin></script>
      <script type="text/babel" src="{% static 'js/tasklist.jsx' %}"></script>
    {% else %}
      <!-- production -->
      <script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>
      <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js" crossorigin></script>
      <script type="text/javascript" src="{% static 'js/tasklist.min.js' %}"></script>
    {% endif %}
{% endblock %}
