{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}
{% load forcedphottags %}

{% block content %}
<div class="content-main" role="main" aria-label="main content">

    <div class="page-header">
    <h1>{{name}}</h1>
    </div>

    {% if not singletaskdetail %}
    {% filterbuttons request %}
    {% include 'new-task.html' %}
    {% endif %}

    <div id="tasklist"{% if singletaskdetail %} class="singletaskdetail"{% endif %}>Loading tasks...</div>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script language="javascript" type="text/javascript">
        const api_url = '{{ api_url|escapejs }}';
        const api_url_base = '{{ api_url_base|escapejs }}';
        const user_id = {{ request.user.id|escapejs }};
    </script>

    <!-- production -->
    <script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js" crossorigin></script>
    <script type="text/javascript" src="{% static 'js/tasklist.min.js' %}"></script>

    <!-- development -->
    <!-- <script src="https://unpkg.com/@babel/standalone/babel.js" crossorigin></script> -->
    <!-- <script src="https://unpkg.com/react/umd/react.development.js" crossorigin></script> -->
    <!-- <script src="https://unpkg.com/react-dom/umd/react-dom.development.js" crossorigin></script> -->

    <!-- <script type="text/babel" src="{% static 'js/tasklist.jsx' %}"></script> -->

    <script src="{% static 'js/plotly-latest.kws.js' %}"></script>

    <script language="javascript" type="text/javascript">

    $("#propermotion_checkboxdiv :checkbox").bind('click dblclick', function(evt) {
        // console.log(evt.type);
        updatepropermotionpanel();
    })

    function updatepropermotionpanel() {
        if ($("#propermotion_checkboxdiv :checkbox").is(":checked")) {
            // console.log('checked')
            $('#propermotion_panel').slideDown('fast');
        } else {
            // console.log('not checked')
            $('#propermotion_panel').slideUp('fast');
        }
    }

    // Set the name of the hidden property and the change event for visibility
    var hidden, visibilityChange;
    if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support
      hidden = "hidden";
      visibilityChange = "visibilitychange";
    } else if (typeof document.msHidden !== "undefined") {
      hidden = "msHidden";
      visibilityChange = "msvisibilitychange";
    } else if (typeof document.webkitHidden !== "undefined") {
      hidden = "webkitHidden";
      visibilityChange = "webkitvisibilitychange";
    }

    function handleVisibilityChange() {
      if (!document[hidden]) {
        updatepropermotionpanel();
      }
    }

    // Warn if the browser doesn't support addEventListener or the Page Visibility API
    if (typeof document.addEventListener === "undefined" || hidden === undefined) {
      console.log("This demo requires a browser, such as Google Chrome or Firefox, that supports the Page Visibility API.");
    } else {
      // Handle page visibility change
      document.addEventListener(visibilityChange, handleVisibilityChange, false);
    }

    $(window).focus(function() {
      updatepropermotionpanel();
    });


    function updatePageTasks() {
        updatepropermotionpanel();
    }

    updatepropermotionpanel();
    </script>
{% endblock %}
