{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}
{% load forcedphottags %}

{% block head %}
    {{ block.super }}

    <!-- force refresh every 3 hours in case the javascript code needs an update -->
    <meta http-equiv="refresh" content="10800" />

    <script src="{% static "rest_framework/js/jquery-3.5.1.min.js" %}"></script>

    <script language="javascript" type="text/javascript">
        var api_url_obj = new URL(window.location.href);
        api_url_obj.searchParams.set('format', 'json');
        const api_url = api_url_obj.toString();

        // prefetch the api call at start of page load
        $.get({
            url: api_url,
            cache: true,
            ifModified: true,
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',}
        });

        const user_id = {{ request.user.id|escapejs }};
        var user_is_active = true;

        var lcplotheight = 300, markersize = 15, errorbarsize = 4, arrowsize = 7;
    </script>
{% endblock %}

{% block content %}
<div class="content-main" role="main" aria-label="main content">

    <div class="page-header">
    <h1>{{name}}</h1>
    </div>

    {% if not singletaskdetail %}
    {% filterbuttons request %}
    {% include 'new-task.html' %}
    {% endif %}

    <div id="tasklist"{% if singletaskdetail %} class="singletaskdetail"{% endif %}>Loading tasks...</div>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script src="{% static 'js/plotly-v1.58.4.kws.min.js' %}"></script>
    <!-- <script src="https://unpkg.com/browse/plotly.js-dist-min@1.58.4/plotly.min.js"></script> -->

    <script language="javascript" type="text/javascript">

    $("#propermotion_checkboxdiv :checkbox").bind('click dblclick', function(evt) {
        // console.log(evt.type);
        updatepropermotionpanel();
    })

    function updatepropermotionpanel() {
        if ($("#propermotion_checkboxdiv :checkbox").is(":checked")) {
            // console.log('checked')
            $('#propermotion_panel').slideDown('fast');
        } else {
            // console.log('not checked')
            $('#propermotion_panel').slideUp('fast');
        }
    }

    // Set the name of the hidden property and the change event for visibility
    var hidden, visibilityChange;
    if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support
      hidden = "hidden";
      visibilityChange = "visibilitychange";
    } else if (typeof document.msHidden !== "undefined") {
      hidden = "msHidden";
      visibilityChange = "msvisibilitychange";
    } else if (typeof document.webkitHidden !== "undefined") {
      hidden = "webkitHidden";
      visibilityChange = "webkitvisibilitychange";
    }

    function handleVisibilityChange() {
      if (!document[hidden]) {
        updatepropermotionpanel();
      }
    }

    // Warn if the browser doesn't support addEventListener or the Page Visibility API
    if (typeof document.addEventListener === "undefined" || hidden === undefined) {
      console.log("This demo requires a browser, such as Google Chrome or Firefox, that supports the Page Visibility API.");
    } else {
      // Handle page visibility change
      document.addEventListener(visibilityChange, handleVisibilityChange, false);
    }

    $(window).focus(function() {
      updatepropermotionpanel();
    });


    function updatePageTasks() {
      updatepropermotionpanel();
    }

    $.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results==null) {
           return null;
        }
        return decodeURI(results[1]) || 0;
    }

    var newids = $.urlParam('newids');
    var newtaskids = [];

    $( document ).ready(function() {
      updatepropermotionpanel();
      var newids = $.urlParam('newids');
      if (newids != null) {
          newids.split('%2C').forEach(function(taskid) {
              console.log('new task', taskid)
              li_id = '#task-' + taskid
              newtaskids.push(parseInt(taskid));
              $(li_id).hide();
              $(li_id).show(700);
              // remove the newids GET parameter from the URL box
              window.history.replaceState({}, document.title, '{{ request.get_full_path|removetaskboxqueryparam }}' );
          });
      }

      var inactivityTime = function () {
        var active_timeout = null;
        window.onload = setActive;
        // DOM Events
        document.addEventListener('mousemove', setActive, true);
        document.addEventListener('mousedown', setActive, true);
        document.addEventListener('touchmove', setActive, true);
        document.addEventListener('touchdown', setActive, true);

        function setActive() {
          if (!user_is_active) {
            console.log('User became active');
          }
          user_is_active = true;
          clearTimeout(active_timeout);
          active_timeout = setTimeout(setInactive, 120000)  // inactive after two minutes
        }
      };

      function setInactive() {
        user_is_active = false;
        console.log('User became inactive. Stopping API calls');
      }

      inactivityTime();
    });
    </script>

    {% if debug %}
      <!-- development -->
      <script src="https://unpkg.com/@babel/standalone@7.14.4/babel.js" crossorigin></script>
      <script src="https://unpkg.com/react@17.0.2/umd/react.development.js" crossorigin></script>
      <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js" crossorigin></script>
      <script type="text/babel" src="{% static 'js/tasklist.jsx' %}"></script>
    {% else %}
      <!-- production -->
      <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js" crossorigin></script>
      <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js" crossorigin></script>
      <script type="text/javascript" src="{% static 'js/tasklist.min.js' %}"></script>
    {% endif %}
{% endblock %}
