{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}
{% load forcedphottags %}

{% block content %}
<div class="content-main" role="main" aria-label="main content">

    <div class="page-header">
    <h1>{{name}}</h1>
    </div>

    {% if not singletaskdetail %}
    {% filterbuttons request %}
    <div class="newrequest">
        <div class="task">
        <h2>New request</h2>
        <form method="POST" action="{% url 'task-list' %}" id="newrequest">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <ul>
                <li>{{ form.radeclist.label_tag }}
                {{ form.radeclist }}
                <a class="collapsible" data-toggle="collapse" data-target="#radec_help">Help</a>
                <div id="radec_help" style="display: none; clear: right; font-size: small;">Each line should consist of a right ascension and a declination coordinate (J2000) in decimal or sexagesimal notation, separated by a space or a comma. Limit of 100 objects per submission. If requested, email notification will be sent only after all targets in the list have been processed.</div>
                {{ form.radeclist.errors }}
                </li>
            </ul>
            <div id="propermotion_checkboxdiv" style="width: 100%">
                <label data-target="#propermotion_panel" style="width: 100%;">
                    <input type="checkbox" name="proper_motion_on" style="position: static; display: inline; width: 5em" /> Proper motion
                </label>
            </div>
            <div id="propermotion_panel" class="panel-collapse collapse" style="background: rgb(235,235,235);">
                <p style="font-size: small;">If the star is moving, the J2000 coordinates above are correct for a specified epoch along with proper motions in RA (angle) and Dec in milliarcseconds. The epoch of ATLAS observations varies from 2015.5 to the present. Note: these are angular velocities, not rates of coordinate change.</p>
                <ul>
                <li>{{ form.radec_epoch_year.label_tag }}{{ form.radec_epoch_year }}{{ form.radec_epoch_year.errors }}</li>
                <li><label for="id_propermotion_ra">PM RA [mas/yr]</label>{{ form.propermotion_ra }}{{ form.propermotion_ra.errors }}</li>
                <li><label for="id_propermotion_dec">PM Dec [mas/yr]</label>{{ form.propermotion_dec }}{{ form.propermotion_dec.errors }}</li>
                </ul>
            </div>
            <ul>
                <li>{{ form.mjd_min.label_tag }}{{ form.mjd_min }}{{ form.mjd_min.errors }}</li>
                <li>{{ form.mjd_max.label_tag }}{{ form.mjd_max }}{{ form.mjd_max.errors }}</li>
                <li>{{ form.comment.label_tag }}{{ form.comment }}{{ form.comment.errors }}</li>
                <li>{{ form.use_reduced }}<label for="id_use_reduced">Use reduced instead of difference images</label></li>
                <li>{{ form.send_email }}<label for="id_send_email">Email me when completed</label></li>
            </ul>
            <input class="btn btn-info" type="submit" value="Request" />
        </form>
        </div>
    </div>
    {% endif %}

    {% include 'tasklist-frame.html' %}
</div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/plotly-latest.kws.js' %}"></script>

    <script language="javascript" type="text/javascript">

    $("#propermotion_checkboxdiv :checkbox").bind('click dblclick', function(evt) {
        // console.log(evt.type);

        if ($(this).is(":checked")) {
            // console.log('checked')
            $('.collapse').slideDown('fast');
        } else {
            // console.log('not checked')
            $('.collapse').slideUp('fast');
        }
    })

    var jslcdataglobal = new Object();
    var jslabelsglobal = new Object();
    var jslimitsglobal = new Object();

    var updatequeuedtimer = setInterval(function(){updatePageTasks();}, 2000);

    function updatePageTasks() {
        if (!window_active) {
            return;
        }

        var plotdivs = new Array();

        $.get('{{ request.get_full_path|addtaskboxqueryparam|escapejs }}').done(function(data, status) {
            if (status == 'success') {
                // $('#tasklist').replaceWith(data);
                newhtml = jQuery(data);

                // remove any tasks from the page that are missing from the new data
                $('li.task').each(function () {
                    taskid = $(this).attr('id').replace("task-", "");
                    if (newhtml.find('#task-' + taskid).length == 0) {
                        console.log('task ' + taskid + ' is deleted from page');
                        $('#task-' + taskid).replaceWith('');
                    }
                });

                // newhtml now contains superset of the displayed tasks
                // walk through the new items, inserting, replacing, or skipping as needed
                prev_li_id = '-1'
                newhtml.find('li.task').each(function () {
                    taskid = $(this).attr('id').replace("task-", "");
                    li_id = $(this).attr('id');
                    servertaskhtml = newhtml.find('#' + li_id).get(0).outerHTML
                    if ($('#' + li_id).length == 1) {
                        if ($('#' + li_id).hasClass("finished")) {
                            console.log('task ' + taskid + ' is already on the page and finished. Skipping');
                        } else {
                            console.log('task ' + taskid + ' is already on the page but unfinished. Updating');
                            $('#' + li_id).replaceWith(servertaskhtml);
                        }
                    } else {
                        if (prev_li_id == '-1') {
                            console.log('task ' + taskid + ' is not on the page. Adding to top');
                            $('li.task:first-child').before(servertaskhtml)
                        } else {
                            console.log('task ' + taskid + ' is not on the page. Adding after ' + prev_li_id);
                            $('#' + prev_li_id).after(servertaskhtml)
                        }
                    }
                    prev_li_id = li_id
                });

                $('#paginator').replaceWith(newhtml.find('#paginator').html());
            }
        });

        activate_first_plot();
    }


    var window_active = true;

    $(window).blur(function() {
      window_active = false;
    });

    $(window).focus(function() {
      window_active = true;
      updatePageTasks();
    });

    function activate_first_plot() {
        first_finished = $('li.task.finished').filter(':first');
        // make sure the plot has not already been created
        if (first_finished.find('div.plot').html() == '') {
            // automatically "click" the "show plot" button on the first completed task
            first_finished.find('a.showplot').trigger('click');
        }
    }

    activate_first_plot();
    </script>
{% endblock %}
