{% load static %}
{% load i18n %}
{% load rest_framework %}
{% load forcedphottags %}

<div id="tasklist"{% if singletaskdetail %} class="singletaskdetail"{% endif %}>
    {% if not tasks and usertaskcount == 0 %}
    <p>There are no tasks.</p>
    {% else %}
        <ul class="tasks">

          {% for task in tasks %}
              {% if task.finishtimestamp %}
                <li class="task finished" id="task-{{task.id}}">
                <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>
              {% elif task.starttimestamp %}
                <li class="task queued started" id="task-{{task.id}}">
                <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Cancel</a>
              {% else %}
                <li class="task queued notstarted" id="task-{{task.id}}">
                {% if task.user.id == request.user.id  or request.user.is_superuser %}
                <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Cancel</a>
                {% endif %}
              {% endif %}
                  <a href="{% url 'task-detail' task.id %}">Task {{task.id}}</a><br/>
                  {% if task.user.id != request.user.id %}
                  User: {{task.user.username}} ({{task.user.email}})<br/>
                  {% endif %}
                  {% if task.comment %}
                  Comment: <b>{{task.comment}}</b><br/>
                  {% endif %}
                  {% if task.mpc_name %}
                  MPC Object: {{task.mpc_name}}<br />
                  {% else %}
                  RA Dec{% if task.radec_epoch_year %} (epoch {{task.radec_epoch_year.normalize}}){% endif %}: {{task.ra}} {{task.dec}}<br/>
                      {% if task.propermotion_ra > 0 or propermotion_dec > 0 %}
                      Proper motion [mas/yr]: {{task.propermotion_ra}} {{task.propermotion_dec}}<br/>
                      {% endif %}
                  {% endif %}
                  Images: {%if task.use_reduced %}Reduced{% else %}Difference{% endif %}<br />

                  {% if task.mjd_min or task.mjd_max %}
                      MJD range: [{{task.mjd_min|default:"0"}}, {{task.mjd_max|default:"∞"}}]<br />
                  {% endif %}

                  Queued at {{task.timestamp|date:'Y-m-d H:i:s e'}}<br/>
                  {% if task.finishtimestamp %}
                  Finished{% if task.finishtimestamp %} at {{task.finishtimestamp|date:'Y-m-d H:i:s e'}}{% endif %}<br />
                      {% if task.error_msg %}
                          <br/><span style="color: black; font-weight: bold;">Error: {{ task.error_msg }}</span>
                      {% else %}
                          <a class="results btn btn-info getdata" href="{% url 'taskresultdata' task.id %}" target="_blank">Data</a>
                          <a class="results btn btn-info getpdf" href="{% url 'taskpdfplot' task.id %}" target="_blank">PDF</a>
                          <a class="results btn btn-info showplot" onclick="javascript:$.ajax({url: '{% url 'resultplotdatajs' task.id %}', cache: true, dataType: 'script'}); this.style='display: none;'">Show Plot</a>
                      {% endif %}
                  {% elif task.starttimestamp %}
                  <br /><span style="color: red; font-style: italic">Running (started {{task.starttimestamp|tasktimesince}})</span>
                  {% else %}
                  Queued ({{task.queuepos}} tasks ahead of this one)
                  {% endif %}

                  {% if task.finishtimestamp %}
                  <div id="plotforcedflux-task-{{task.id}}" class="plot" style="width: 100%;"></div>
                  {% endif %}
                </li>
          {% endfor %}

        </ul>
    {% endif %}
    {% if paginator %}
    <div id="paginator">
        <p id="taskcount">{% if tasks %}Showing {{tasks|length}} of {{usertaskcount}} tasks{% endif %}</p>
        {% get_pagination_html paginator %}
    </div>
    {% endif %}
</div>
