{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{% block content %}
<div class="content-main" role="main" aria-label="main content">

    <div class="page-header">
    <h1>Job Queue</h1>
    </div>

    <div class="newrequest">
        <div class="task">
        <h3>New request</h3>
        <form method="POST" action="{% url 'task-list' %}" id="newrequest">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <ul>
                <li>{{ form.radeclist.label_tag }}
                {{ form.radeclist }}
                <a class="collapsible">Help</a><div style="display: none; clear: right; font-size: small;">Each line should consist of a right ascension and a declination coordinate in decimal or sexagesimal notation, separated by a space or a comma. Limit of 100 objects per submission. If requested, email notification will be sent only after all targets in the list have been processed.</div>
                {{ form.radeclist.errors }}
                </li>
                <li>{{ form.mjd_min.label_tag }}{{ form.mjd_min }}{{ form.mjd_min.errors }}</li>
                <li>{{ form.mjd_max.label_tag }}{{ form.mjd_max }}{{ form.mjd_max.errors }}</li>
                <li>{{ form.comment.label_tag }}{{ form.comment }}{{ form.comment.errors }}</li>
                <li>{{ form.use_reduced }}<label for="id_use_reduced">Use reduced instead of difference images</label></li>
                <li>{{ form.send_email }}<label for="id_send_email">Email me when completed</label></li>
            </ul>
            <input class="btn btn-info" type="submit" value="Request" />
        </form>
        </div>
    </div>

    <div id="tasklist">
        {% if not tasks %}
        <p>You have no tasks yet.</p>
        {% else %}
            <ul class="tasks">
            {% for task in tasks %}
                {% include 'tasklist-task.html' %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/plotly-latest.kws.js' %}"></script>

    <script language="javascript" type="text/javascript">
    var jslcdataglobal = new Object();
    var jslabelsglobal = new Object();
    var jslimitsglobal = new Object();

    var updatetimer = setInterval(updateTasks, 3000);
    var unfinishedids = []

    function updateTasks()
    {
        $('.task.queued').each(function() {
            var taskid = $(this).attr('id').replace("task-", "");

            console.log("taskid", taskid);
            $.get('{% url 'index' %}taskboxhtml/' + taskid, function(data, status) {
                $('#task-' + taskid).replaceWith(data);
            });
        });
    };

    </script>
{% endblock %}
