{% extends "rest_framework/api.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

    {% block style %}
      {% block bootstrap_theme %}
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
      {% endblock %}

      <!-- <link rel="stylesheet" type="text/css" href="{% static "main.css" %}"/> -->
      <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
      <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
      <style>

body {
  font-size: 17px;
}

input::placeholder {
  color: #d3d3d3;
}

.submit {
    background-color: #6BA3E8;
}

.task {
    margin: 0 0 1.0em 0;
    padding: 1em;
    border-radius: 0.5em;
    border: 0.1em solid rgb(0, 0, 0, 0.6);
    background-color: white;
}

ul.tasks li.queued {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    color: grey;
}


.btn-danger {
    /* background-color: #ff4e19; */
    /* border-color: #e59400; */
    float: right;
}

div.newrequest {
  float: right;
  width: 50%;
  padding-left: 2em;
}

form#newrequest li {
    display: block;
}

form#newrequest li > * {
    display: inline-block;
    vertical-align: middle;
}

form#newrequest li > *:nth-child(1) {
    text-align: right;
    width: 5em;
    margin-right: 10px;
}

form#newrequest li > *:nth-child(2) {
    text-align: left;
    width: 24em;
}

input, textarea {
    display:inline-block;
    padding: 0.3em 0.3em;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid grey;
}

ul {
    list-style: none;
    padding: 0;
}

a.results {
    border-color: #e59400;
    background-color: #ef4e19;
    /* background-color: #6BA3E8; */
    color: white;
    display: block;
    clear: both;
    margin-top: 1em;
    width: 9em;
}

div#tasklist {
  /* width: 25em; */
  width: 50%;
  padding-right: 2em;
  /* float: right; */
}

div.navbar {
  margin-bottom: 20em;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h3 {
  margin-top: 0;
  margin-bottom: 1em;
}

input[type=submit] {
  width: 100%;
}
      </style>
    {% endblock %}



      {% block breadcrumbs %}
        <ul class="breadcrumb">
        </ul>
      {% endblock %}