In the last seven days there were {{ sevendaytasks }} tasks ({{ sevendaytaskrate }}) from {{ sevendayusers }} users. In this period:
<ul style="padding-left: 2em">
    <li>Load factor (request rate / completion rate): {{ sevendayloadpercent }}</li>
    <li>Average queue waiting time: {{ sevendayavgwaittime }}</li>
    <li>Average task running time: {{ sevendayavgruntime }}</li>
    <li>Solar System (MPC name) targets: {{ sevendaympctasks }}</li>
    <li>Image requests: {{ sevendayimgtasks }}</li>
</ul>
