{% extends "rest_framework/base.html" %}
{% load static %}

{% block content %}
    <h1>Job Queue</h1>

    <div class="newrequest">
        <div class="task">
        <h3>New request</h3>
        <form method="POST" action="{% url 'task-list' %}" id="newrequest">
            {% csrf_token %}
            <ul>
                <li>{{ form.radeclist.label_tag }}{{ form.radeclist }}</li>
                <!-- <li><div>{{ form.ra.label_tag }}</div><div>{{ form.ra }}</div></li>
                <li><div>{{ form.dec.label_tag }}</div><div>{{ form.dec }}</div></li> -->
                <li>{{ form.mjd_min.label_tag }}{{ form.mjd_min }}</li>
                <li>{{ form.mjd_max.label_tag }}{{ form.mjd_max }}</li>
                <li>{{ form.use_reduced }}{{ form.use_reduced.label_tag }}</li>
            </ul>
            <input class="btn btn-info" type="submit" value="Request" />
        </form>
        </div>
    </div>

    <div id="tasklist">
        <!-- <h3>Previous requests</h3> -->
        <ul class="tasks">

        {% for task in tasks %}
            {% if task.finished %}
            <li class="task finished">
                <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>
            {% else %}
            <li class="task queued">
                <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Cancel</a>
            {% endif %}
                Task ID: <a href="{% url 'task-detail' task.id %}">{{task.id}}</a><br/>
                Queued at: {{task.timestamp}}<br/>
                RA DEC: {{task.ra}} {{task.dec}}<br/>

                {% if task.mjd_min or task.mjd_max %}
                    MJD range: [{{task.mjd_min}}, {{task.mjd_max}}]<br/>
                {% endif %}

                {% if task.finished %}
                Finished<br/>
                <a class="results btn btn-info" href="{% static task.get_localresultfile %}">Results</a>
                {% else %}
                Queued
                {% endif %}
                <!-- Email: {{task.user.email}} -->
            </li>
        {% endfor %}

        </ul>
    </div>
{% endblock %}
