.collapsible {
  cursor: pointer;
}

body {
  font-size: 17px;
  margin-bottom: 3em;
}

a {
  cursor: pointer;
}

div.navbar {
  background: white;
}

.navbar-brand {
  height: auto;
}

.navbar-brand img {
  height: 118px;
}

ul.nav {
  padding-top: 96px;
}

div#content {
  /* margin-top: 0em; */
}

div.page-header {
  margin: 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input::placeholder {
  color: #d3d3d3;
}

.submit {
    background-color: #6BA3E8;
}

div.newrequest {
  float: right;
  /* width: 50%; */
  width: 28em;
  padding-left: 2em;
  /* padding-right: 2em; */
}

h2 {
  margin-top: 0;
}

form#newrequest li {
    display: block;
}

form#newrequest li > * {
    display: inline-block;
    vertical-align: middle;
}

form#newrequest li > *:nth-child(1) {
    text-align: right;
    width: 5em;
    margin-right: 10px;
}

form#newrequest li > *:nth-child(2) {
    text-align: left;
    width: 15em;
}

form#newrequest input, textarea {
    display:inline-block;
    padding: 0.3em 0.3em;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid grey;
}

p.inputisodate {
  clear: left;
  margin-left: 10px;
  padding-left: 5em;
  color: grey;
}

form#newrequest input[type=submit] {
  width: 100%;
}

div#tasklist {
  /* width: 50%; */
  width: calc(100% - 28em);
  padding-right: 2em;
  /* float: right; */
}

div#tasklist.singletaskdetail {
  width: 100%;
}

.task {
    margin: 0 0 1.0em 0;
    padding: 1em;
    border-radius: 0.5em;
    border: 0.1em solid rgb(0, 0, 0, 0.8);
    background-color: white;
}

ul.tasks li.queued {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    color: grey;
}

ul.tasks li.started {
    background-color: rgb(255, 170, 50, 0.5);
}

ul.tasks div.rightside {
    /* background-color: #ff4e19; */
    /* border-color: #e59400; */
    float: right;
    text-align: right;
}

.results {
  background-color: #ef4e19;
  border-color: #e59400;
}

li.task .btn:not(.btn-sm) {
    margin-right: 0.2em;
    /* background-color: #6BA3E8; */
    color: white;
    /* display: block; */
    margin-top: 1em;
    /* width: 9em; */
    padding: 0.4em 1.8em;
    /* margin-right: 0.5em; */
}

ul {
    list-style: none;
    padding: 0;
}

.navbar-nav>li>a[href~="{{ request.get_full_path }}"] {
  text-decoration: underline;
}

span.helptext
{
  display: block;
}

table {
  margin: 1em;
}

table tr td:nth-child(1) {
  padding-right: 2em;
  font-weight: bold;
  margin: 2em;
}

ul.logos {
  text-align: center;
  margin-top: 2em;
}

ul.logos li {
  display: inline;
}

ul.logos img {
  height: 90px;
  margin: 10px;
}

ul.errorlist {
  display: block;
  color: red;
}

ul#taskfilters > * {
  display: inline;
}

table.countrystats {
  /* font-size: smaller; */
  margin-bottom: 2em;
  margin-top: 0;
}

table.countrystats tr > * {
  padding: 0.1em 0.6em;
  text-align: right;
}

table.countrystats tr > *:first-child {
  text-align: left;
  padding: 0.1em 0.1em;
}

table.countrystats th[scope="row"] {
  font-weight: normal !important;
}

.bk-logo {
    display:none !important;
}