{% load forcedphottags %}
<ul class="pager">
  {% if previous_url %}
    <li class="previous">
      <a href="{{ previous_url|removenewidqueryparam }}">&laquo; Newer</a>
    </li>
  {% else %}
    <!-- <li class="previous disabled">
      <a href="#">&laquo; Newer</a>
    </li> -->
  {% endif %}

  {% if next_url %}
    <li class="next">
      <a href="{{ next_url|removenewidqueryparam }}">Older &raquo;</a>
    </li>
  {% else %}
    <!-- <li class="next disabled">
      <a href="#">Older &raquo;</a>
    </li> -->
  {% endif %}
</ul>
